<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getWorkName()}">VALUE</p>
<p th:text="${person.getWorkSurname()}">VALUE</p>
<p th:text="${person.getWorkAge()}">VALUE</p>
<p th:text="${person.getWorkExp()}">VALUE</p>
<p th:text="${person.getWorkSpec()}">VALUE</p>
<p th:text="${person.getManName()}">VALUE</p>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a> <a th:href="@{/people}">Back</a>

<br>
<br>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>