<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update gun</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/weapon/{id}(id=${gun.getId()})}" th:object="${gun}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="name">Enter type: </label>
    <input type="text" th:field="*{type}" id="type"/>
    <br/>
    <label for="name">Enter capacity: </label>
    <input type="text" th:field="*{capacity}" id="capacity"/>
    <br/>
    <input type="submit" value="Update!"/> <a th:href="@{/weapon/{id}(id=${gun.getId()})}">Back</a>
</form>

</body>
</html>